<div class="module">
  <h3 class="module-header" id="{{ page.title | slugify }}">{{ page.title }}</h3>
  {% if page.days %}
  <dl class="module-days">
    {% for day in page.days %}
      <dt class="module-day main">{{ day.date | date: '%a %b %e' }}</dt>
      {% for event in day.events %}
        {% if event.markdown_content %}
          <dd class="module-event{% if forloop.first %} main{% endif %}">
            {{ event.markdown_content | markdownify }}
          </dd>
        {% else %}
          <dd class="module-event{% if forloop.first %} main{% endif %}">
            <p>
              {% if event.type %}
              <strong class="label label-{{ event.type }}">
                {{ event.name }}
              </strong>
              {% endif %}
              {% if event.url %}
                <a href="{{ event.url }}">{{ event.title }}</a>
              {% else %}
                {{ event.title }}
              {% endif %}
              <div style="margin-left: 2.1cm; line-height: 0.75cm; margin-bottom: -25px;">
              {%- if event.type == "lecture"-%}
                {%- if event.blank -%}
                <small><a href="{{ event.blank }}"><button type="button" class="btn btn-info"><small>📝 blank</small></button></a></small>
                {%- endif -%}
                {%- if event.filled -%}
                <small>&nbsp;&nbsp;<a href="{{ event.filled }}"><button type="button" class="btn btn-info"><small>✍️ filled</small></button></a></small>
                {%- endif -%}
                {%- if event.github -%}
                <small>&nbsp;&nbsp;<a href="{{ event.github }}"><button type="button" class="btn btn-info"><small>💻  GitHub</small></button></a></small>
                {%- endif -%}
                {%- if event.recording -%}
                <small>&nbsp;&nbsp;<a href="{{ event.recording }}"><button type="button" class="btn btn-info"><small>🎥 recording</small></button></a></small>
                {%- endif -%}
                {%- if event.reading and event.reading_text -%}
                <small>&nbsp;&nbsp;<a href="{{ event.reading }}"><button type="button" class="btn btn-info"><small>📕 Read: {{ event.reading_text }}</small></button></a></small>
                {%- endif -%}
                {%- if event.animations -%}
                <small>&nbsp;&nbsp;<a href="{{ event.animations }}"><button type="button" class="btn btn-info">🧮 animations</button></a></small>
                {%- endif -%}
                {%- if event.videos -%}
                <small>&nbsp;&nbsp;<a href="{{ event.videos }}"><button type="button" class="btn btn-info"><small>⏯️ extra videos</small></button></a></small>
                {%- endif -%}
              {%- endif -%}
              {%- if event.type == "hw" or event.type == "disc" -%}
                {%- if event.problems -%}
                <small><a href="{{ event.problems }}"><button type="button" class="btn btn-info">📄 problems</button></a></small>
                {%- endif -%}
                {%- if event.github -%}
                <small><a href="{{ event.github }}"><button type="button" class="btn btn-info"><small>💻  GitHub</small></button></a></small>
                {%- endif -%}
                {%- if event.template -%}
                <small>&nbsp;&nbsp;<a href="{{ event.template }}"><button type="button" class="btn btn-info">🍃 template</button></a></small>
                {%- endif -%}
                {%- if event.walkthrough -%}
                <small>&nbsp;&nbsp;<a href="{{ event.walkthrough }}"><button type="button" class="btn btn-info">🎥 walkthrough</button></a></small>
                {%- endif -%}
                {%- if event.solutions -%}
                <small>&nbsp;&nbsp;<a href="{{ event.solutions }}"><button type="button" class="btn btn-info">📝 solutions</button></a></small>
                {%- endif -%}
              {%- endif -%}
              {%- if event.note -%}
              <br><small>{{ event.note }}</small>
              {%- endif -%}
            </div>
            </p>
          </dd>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </dl>
  {% endif %}
  {% assign content_strip = content | strip %}
  {% if content_strip != "" %}
  <div class="module-body">
    <small>{{ content }}</small>
  </div>
  {% endif %}
</div>
